.x-grid-cell {
    vertical-align: top;
}

h1.title {
    font-size: 150%;
    margin: 0.5em 1em 1em 0;
    white-space: normal;
}

p.shortdesc {
    white-space: normal;
    margin: 0 1em 0.5em 0;
}

img.thumbnail {
    float: left;
    max-width: 120px;
    max-height: 90px;
    margin: 0.5em;
}

a.permalink {
    border: 1px solid #99BCE8;
    border-radius: 0.4em;
    background-color: #D3E1F1;
    padding: 0.3em;
    text-decoration: none;
    float: right;
}

a[href^=http]:after {
    content: '➚';
}

iframe.video {
    width: 100%;
    min-height: 480px;
    border: 0;
}
