!!!html
html
  head
    title Youtube
    link(rel='stylesheet',type='text/css',href='static/style.css')
  body
    div#preload
      div.result
        img(src='#')
        a(href='http://localhost/#') Watch on YouTube
        h1 Title
        div.author Author
        div.date January 1, 1970
        iframe(allowfullscreen)
        p Short description.
    input#search(type='text',placeholder='Search...')
    div#results
  script(type='text/javascript',src='static/jquery-1.7.2.min.js')
  script(type='text/javascript',src='static/app.js')
